DR_WORLD_NAME=physicar_base
DR_RACE_TYPE=TIME_TRIAL
DR_TRAIN_REVERSE_DIRECTION=False
DR_TRAIN_ALTERNATE_DRIVING_DIRECTION=False
DR_TRAIN_ROUND_ROBIN_ADVANCE_DIST=0.1
DR_ENABLE_DOMAIN_RANDOMIZATION=False
DR_OA_NUMBER_OF_OBSTACLES=3
DR_OA_MIN_DISTANCE_BETWEEN_OBSTACLES=2.0
DR_OA_RANDOMIZE_OBSTACLE_LOCATIONS=True
DR_OA_IS_OBSTACLE_BOT_CAR=False
DR_OA_OBSTACLE_TYPE=box_obstacle
DR_OA_OBJECT_POSITIONS=
DR_CAR_COLOR=Black
